<div class="post">
  <div class="post-header">
    <div class="post-avatar">
      <img
        [src]="
          avatar ||
          'https://images-na.ssl-images-amazon.com/images/I/81-yKbVND-L.png'
        "
        alt="avatar"
        width="48"
        (error)="
          avatar =
            'https://images-na.ssl-images-amazon.com/images/I/81-yKbVND-L.png'
        "
      />
    </div>
    <div class="post-headerElements">
      <div>
        <div class="post-headerName">
          <h3>
            <span class="post-text" (click)="onGetSingleTweet()">{{
              name
            }}</span>
            <span class="created-at">{{ createdAt | date : "short" }}</span>
          </h3>
          <div>
            <span class="material-icons post-badge">verified</span>
          </div>
        </div>
        <div class="post-headerContent">
          <p (click)="onGetSingleTweet()">
            <a class="post-text">{{ title }}</a>
          </p>
        </div>
      </div>
      <div class="post-trash-edit-icons">
        @if (locationPath.includes('/post')) { @if (!isEditing &&
        locationPath.includes('/post')) {
        <span
          class="material-icons edit-icon"
          title="Editar"
          (click)="toggleEditMode()"
          >edit</span
        >
        } @else {
        <span
          class="material-icons save-icon"
          title="Guardar"
          (click)="onSaveEdit()"
          >done</span
        >
        <span
          class="material-icons cancel-icon"
          title="Cancelar"
          (click)="onCancelEdit()"
          >close</span
        >
        }}
        <span
          class="material-icons trash-icon"
          title="Borrar"
          (click)="deleteTweet()"
          >delete</span
        >
      </div>
    </div>

    <div class="post-body">
      @if(locationPath.includes('/posts')){ @if (!isEditing) {
      <p class="content-text">{{ content }}</p>
      } @else {
      <textarea
        [(ngModel)]="editedContent"
        rows="5"
        class="content-edit-textarea"
      ></textarea>
      } }
    </div>

    <div class="post-footer">
      <span class="material-icons">chat_bubble_outline</span>
      <span class="material-icons">repeat</span>
      <span class="material-icons">favorite_border</span>
      <span class="material-icons">publish</span>
    </div>
  </div>
</div>
