<div class="feed">
  <div class="feed-header">
    <ng-container *ngIf="locationPath === '/home'; else notHome">
      <h2>Todos los Tweets</h2>
    </ng-container>

    <ng-template #notHome>
      <span matTooltip="Volver" (click)="backToHome()">
        <span class="material-icons feed-arrowIcon" title="Volver"
          >arrow_back</span
        >
      </span>

      <ng-container
        *ngIf="
          locationPath.startsWith('/posts/') && !locationPath.includes('/edit');
          else showPostInfo
        "
      >
        <h2>Detalle del Tweet</h2>
      </ng-container>

      <ng-template #showPostInfo>
        <div class="feed-tweet" *ngIf="currentPost">
          <h2>{{ currentPost.name }}</h2>

          <div>
            <span class="material-icons feed-badge">verified</span>
          </div>
        </div>

        <div
          class="feed-tweet"
          *ngIf="!currentPost && locationPath.includes('/edit')"
        >
          <h2>Editar Post</h2>
        </div>
      </ng-template>
    </ng-template>
  </div>

  @if(locationPath === '/home'){
  <app-tweet-box (postCreated)="onPostCreated($event)"></app-tweet-box>
  }

  <div class="feed-posts">
    @for (post of posts; track post.id) {
    <app-post
      [id]="post.id"
      [name]="post.name"
      [content]="post.content"
      [avatar]="post.avatar"
      [createdAt]="post.createdAt"
      [title]="post.title"
      (viewPostDetail)="onViewPostDetail($event)"
      (postDeleted)="onPostDeleted($event)"
      (postUpdated)="onPostUpdatedFromPostComponent($event)"
    ></app-post>
    }
  </div>

  @if (currentPost) {
  <div class="comments-section">
    <h3>Comentarios</h3>
    <app-tweet-box
      [mode]="'comment'"
      [parentId]="currentPost.id"
      (commentCreated)="onCommentCreated($event)"
    ></app-tweet-box>

    @if (comments.length > 0) { @for (comment of comments; track comment.id) {
    <div class="comment-item">
      <div class="comment-avatar">
        <img
          [src]="getCommentAvatarSrc(comment.avatar)"
          alt="avatar"
          width="30"
        />
      </div>
      <div class="comment-content-wrapper">
        <div class="comment-author-date">
          <strong>{{ comment.name }}</strong>
          <span class="comment-date">{{
            comment.createdAt | date : "short"
          }}</span>
          <div class="container-icon-comments">
          <span
            class="material-icons trash-icon"
            title="Borrar"
            (click)="deleteComment(comment.id)"
            >delete</span
          >
          <span
            *ngIf="editingCommentId !== comment.id"
            class="material-icons edit-icon"
            title="Editar"
            (click)="editComment(comment)"
            >edit</span
          >
          <span class="material-icons reply-icon"
            title="Responder"
            (click)="toggleReplyComment(comment.id)">chat_bubble_outline</span>
         
          </div>
        </div>

        @if (editingCommentId === comment.id) {
        <div class="comment-edit-box">
          <app-tweet-box
            [mode]="'editComment'"
            [commentToEdit]="commentBeingEdited!"
            [parentId]="currentPost.id"
            (commentUpdated)="saveEditedComment($event)"
            (cancelEdit)="cancelEditComment()"
          ></app-tweet-box>
        </div>
        } @else {
        <p class="comment-text">{{ comment.content }}</p>
        }
      </div>
    </div>
    @if (replyingToCommentId === comment.id) {
    <div class="reply-tweetbox-wrapper">
      <app-tweet-box
        [mode]="'replyComment'"
        [parentId]="currentPost.id"
        [replyToCommentId]="comment.id"
        (commentCreated)="onCommentCreated($event)"
        (cancelEdit)="cancelReplyComment()"
      ></app-tweet-box>
    </div>
    } } } @else {
    <p>No hay comentarios para este post.</p>
    }
  </div>
  }
</div>
