<div class="feed">
  <div class="feed-header">
    <ng-container *ngIf="locationPath === '/home'; else notHome">
      <h2>Todos los Posts</h2>
    </ng-container>

    <ng-template #notHome>
      <span matTooltip="Volver" (click)="backToHome()">
        <span class="material-icons feed-arrowIcon" title="Volver"
          >arrow_back</span
        >
      </span>

      <ng-container
        *ngIf="
          locationPath.startsWith('/posts/') && !locationPath.includes('/edit');
          else showPostInfo
        "
      >
        <h2>Detalle del Post</h2>
      </ng-container>

      <ng-template #showPostInfo>
        <div class="feed-tweet" *ngIf="currentPost">
          <h2>{{ currentPost.name }}</h2>

          <div>
            <span class="material-icons feed-badge">verified</span>
          </div>
        </div>

        <div
          class="feed-tweet"
          *ngIf="!currentPost && locationPath.includes('/edit')"
        >
          <h2>Editar Post</h2>
        </div>
      </ng-template>
    </ng-template>
  </div>

  @if(locationPath === '/home'){
  <app-tweet-box (postCreated)="onPostCreated($event)"></app-tweet-box>
  }

  <div class="feed-posts">
    @for (post of posts; track post.id) {
    <app-post
      [id]="post.id"
      [name]="post.name"
      [content]="post.content"
      [avatar]="post.avatar"
      [createdAt]="post.createdAt"
      [title]="post.title"
      (viewPostDetail)="onViewPostDetail($event)"
      (postDeleted)="onPostDeleted($event)"
      (postUpdated)="onPostUpdatedFromPostComponent($event)"
    ></app-post>
    }
  </div>
</div>
